.parents {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 0.2 linear;
  border-radius: 7px;
}
.child {
  display: flex;
  height: auto;
  text-align: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 200px;
}

.child .text {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.child h1 {
  font-weight: 700;
  font-size: 100px;
  color: #950090;
  letter-spacing: 2px;
  line-height: 88px;
  margin: 0px;
}

.child h2 {
  font-weight: 700px;
  font-size: 70px;
  line-height: 46px;
  letter-spacing: 2px;
  margin: 0px;
  color: #040b5c;
}
.child h3 {
  color: #071399;
  font-weight: 200px;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0px;
}

.contact select {
  width: 600px;
  height: 40px;
  background: rgba(216, 216, 216, 0.1);
  border: 2px solid rgba(35, 35, 64, 0.31);
  border-radius: 8px;
  padding: 15px, 40px, 15px, 20px;
  box-shadow: 0px 2px 5px 0px #26334d08;
  margin-top: 10px;
  padding: 10px;
}
.contact textarea {
  width: 600px;
  height: 140px;
  background: rgba(216, 216, 216, 0.1);
  border: 2px solid rgba(35, 35, 64, 0.31);
  border-radius: 8px;
  padding: 15px, 40px, 15px, 20px;
  box-shadow: 0px 2px 5px 0px #26334d08;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

@media screen and (max-width: 455px) {
  .child h1 {
    font-size: 80px;
  }

  .child h2 {
    font-size: 60px;
  }
  .child h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 345px) {
  .child h1 {
    font-size: 70px;
  }

  .child h2 {
    font-size: 50px;
  }
  .child h3 {
    font-size: 15px;
  }
}
